*{
   margin:0px;
   padding:0px;
   box-sizing:border-box;
}
:root{
   --pink:#ff1493;
   --darker:#1f2937;
   --dark:#484848;
   --darkest:#111827;
   --grey:#808080;
   --purple:#ac10ac;
   --light:#fff; 
}
body{
   background:url('pexels-photo-8051669.jpeg');
   background-size:400px;
   display:flex;
   align-items:center;
   justify-content:center;
   flex-direction: column;
}
.wrapper{
   /* background-image:radial-gradient(rgb(10, 40, 48) , rgb(7, 184, 243) ,rgb(26, 35, 55) , rgb(172, 182, 214), #3c5963); */
   padding:50px;
   border-radius:12px;
   border:5px dotted white;
   margin-top:50px;
   background:whitesmoke;
   opacity:.5;

   
}
h1{
   font-size:60px;
   margin-top:20px;
   color:#ffffff;
   font-weight:500;
   font-variant:small-caps;
   font-family:helvetica;
   background-image:linear-gradient(to top right , rgb(24, 23, 23) ,rgb(199, 198, 198), rgb(87, 87, 87), rgb(53, 53, 53) ,black);
   padding:15px;
   border-radius:12px;
   border:2px solid #000104;
}
.typace{
   width:350px;
   height:40px;
   background:white;
   padding:5px;
   border-radius:8px;
   margin-bottom:30px;

}
input{
   width:250px;
   height:30px;
   border:none;
   outline:none;
   padding:0px 0px 0px 05px;
   border-radius:7px;
   background:#3c5963;
   font-weight:500;

}
button{
   position:relative;
   top:1px;
   right:-02px;
   padding:2px;
   font-size:20px;
   border-radius:4px;
   border:none;
   background:#3c5963;
   color:whitesmoke;
}
#todo-list{
   list-style-type:lower-greek;
   font-size:20px;
   color:#3d3f41;
   text-transform: capitalize;
   font-variant:small-caps;
}